.imprint {
  max-inline-size: 42rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--db-spacing-fixed-md);

  h1 {
    margin-block: 0 var(--db-spacing-fixed-xs);
  }

  h2 {
    margin-block: var(--db-spacing-fixed-sm) var(--db-spacing-fixed-2xs);
  }

  address {
    font-style: normal;
  }

  a {
    color: inherit;
    font-weight: 600;
  }
}
